# We want to exclude a whole bunch of stuff for docker. Otherwise docker pulls a bunch of
# file it doesn't need into it's context when doing a build, which can slow down things.
.githooks
.github
.vscode
.zap
.architecture
.gitignore
.ipynb_checkpoints
node_modules
web/build
web/coverage-cypress
web/coverage
web/.nyc_output
web/node_modules
web/cypress
web/.pnp.*
web/.yarn/*
!web/.yarn/patches
!web/.yarn/plugins
!web/.yarn/releases
!web/.yarn/sdks
!web/.yarn/versions
r
.dockerignore
grib
**/Dockerfile*
**/junk
**/scripts
**/python_cache*
**/__pycache__
**/*.pyc
**/*.zip
**/*.grib2
**.venv
*/nbconvert/*