.githooks
.github
.vscode
.zap
.architecture
.gitignore
node_modules
web/build
web/coverage-cypress
web/.nyc_output
web/node_modules
r
.dockerignore
**/Dockerfile*
**/junk
**/scripts
**/python_cache*
**.venv