# We want to exclude a whole bunch of stuff for docker. Otherwise docker pulls a bunch of
# file it doesn't need into it's context when doing a build, which can slow down things.
.githooks
.github
.vscode
.zap
.architecture
.gitignore
node_modules
web/build
web/coverage-cypress
web/coverage
web/.nyc_output
web/node_modules
web/cypress
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
r
.dockerignore
**/Dockerfile*
**/junk
**/scripts
**/python_cache*
**.venv