[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = "*"
pycodestyle = "*"
pyodbc = "*"
autopep8 = "*"
pep8 = "*"
pytest-pep8 = "*"
pylint = "*"
asynctest = "*"
nest-asyncio = "*"
pytest-bdd = "*"
coverage = "*"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
gunicorn = "*"
aiodns = "*"
aiohttp = "*"
pandas = "*"
pyjwt = "*"
cryptography = "*"
sqlalchemy = "*"
psycopg2 = "*"
postgres = "*"
alchemy-mock = "*"

[requires]
python_version = "3.8"
