# This is a sample .env file that can be used for local development.
ORIGINS="http://localhost http://localhost:3000 http://127.0.0.1 http://127.0.0.1:3000"
SPOTWX_BASE_URI=https://spotwx.com/services/api.php
SPOTWX_API_KEY=blahblahblah
USE_WFWX=False
WFWX_AUTH_URL=https://somewhere
WFWX_BASE_URL=https://somewhere
WFWX_USER=someusear
WFWX_SECRET=somesecret
WFWX_MAX_PAGE_SIZE=1000
KEYCLOAK_PUBLIC_KEY=thisispublickey
POSTGRES_HOST="localhost"
POSTGRES_USER="wps"
POSTGRES_PASSWORD="wps"
POSTGRES_DATABASE="wps"
POSTGRES_PORT="5432"
PORT="8080"
