body {
}
table {
  border-collapse: collapse;
  border: 1px solid #000000;
}

td {
  padding: 5px;
  border: 1px solid #000000;
  width: 80px;
}
th {
  width: 80px;
  padding: 5px;
  border: 1px solid #000000;
}
p {
  page-break-before: always;
}
.leftBorder {
  border-left: 1px solid black;
  border-collapse: collapse;
}

.rightBorder {
  border-right: 1px solid black;
  border-collapse: collapse;
}

.boldRightBorder {
  border-right: 2px solid black;
  border-collapse: collapse;
}

.boldLeftBorder {
  border-left: 2px solid black;
  border-collapse: collapse;
}

.planningArea {
  background-color: cornflowerblue;
  border-bottom: black 2px solid;
  border-collapse: collapse;
  height: 20px;
  padding: 0;
}
.station {
  border-bottom: black 2px solid;
  border-collapse: collapse;
  padding: 0;
}
