[tool.poetry]
name = "wps-api"
version = "0.1.0"
description = "Wildfire Predictive Services Unit API"
authors = ["Sybrand Strauss <sybrand.strauss@gov.bc.ca>"]

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.61.1"
requests = "^2.24.0"
aiodns = "^2.0.0"
aiohttp = "^3.6.2"
pandas = "^1.1.1"
pyjwt = "^1.7.1"
cryptography = "^3.1"
sqlalchemy = "^1.3.19"
psycopg2 = "^2.8.5"
postgres = "^3.0.0"
python-decouple = "^3.3"
uvicorn = "^0.11.8"
geopandas = "^0.8.1"
pylint = "^2.6.0"
alembic = "^1.4.2"
requests_ntlm = "^1.1.0"
scipy = "^1.5.2"
geoalchemy2 = "^0.8.4"
aiofiles = "^0.5.0"
jinja2 = "^2.11.2"
sklearn = "^0.0"
pytest-mock = "^3.3.1"

[tool.poetry.dev-dependencies]
pytest = "^6.0.1"
jupyter = "^1.0.0"
notebook = "^6.1.3"
alchemy-mock = "^0.4.3"
pytest_bdd = "^3.4.0"
coverage = "^5.2.1"
pycodestyle = "^2.6.0"
autopep8 = "^1.5.4"
matplotlib = "^3.3.1"
pytest-xdist = "^2.1.0"
rope = "^0.17.0"
docker-compose = "^1.26.2"
pgadmin4 = "^4.25"
snakeviz = "^2.1.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
