[tool.poetry]
name = "wps-api"
version = "0.1.0"
description = "Wildfire Predictive Services Unit API"
authors = ["Sybrand Strauss <sybrand.strauss@gov.bc.ca>"]

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0"
requests = "^2"
aiodns = "^3"
aiohttp = "^3"
pandas = "^1"
pyjwt = "^2"
cryptography = "^3.4"
sqlalchemy = "^1"
psycopg2 = "^2"
postgres = "^3"
python-decouple = "^3"
uvicorn = "^0"
geopandas = "^0"
pylint = "^2"
alembic = "^1"
requests_ntlm = "^1"
scipy = "^1"
geoalchemy2 = "^0"
aiofiles = "^0"
jinja2 = "^3"
sklearn = "^0"
pytest-mock = "^3"
numpy = "^1.19.5"
minio = "^7.0.3"

[tool.poetry.dev-dependencies]
pytest = "^6"
jupyter = "^1"
notebook = "^6"
alchemy-mock = "^0"
pytest_bdd = "^4"
coverage = "^5"
pycodestyle = "^2"
autopep8 = "^1"
matplotlib = "^3"
pytest-xdist = "^2"
rope = "^0"
docker-compose = "^1"
pgadmin4 = "^4"
jsonpickle = "^2.0.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
