[tool.poetry]
name = "wps-api"
version = "0.1.0"
description = "Wildfire Predictive Services Unit API"
authors = ["Sybrand Strauss <sybrand.strauss@gov.bc.ca>"]

[tool.poetry.dependencies]
python = ">=3.8.10,<3.10"
fastapi = "^0"
requests = "^2"
aiodns = "^3"
aiohttp = "^3"
pandas = "^1"
pyjwt = "^2"
cryptography = "^37.0"
sqlalchemy = "^1"
psycopg2 = "^2"
postgres = "^4"
python-decouple = "^3"
uvicorn = "^0"
geopandas = "^0"
pylint = "^2"
alembic = "^1"
requests_ntlm = "^1"
scipy = "^1"
geoalchemy2 = "^0"
aiofiles = "^0"
jinja2 = "^3"
sklearn = "^0"
numpy = "^1.21.1"
aiobotocore = "^2.0.0"
rpy2 = "^3.4.5"
redis = "^4.0.0"
pyjnius = "^1.3.0"
hiredis = "^2.0.0"
pdfkit = "^1.0.0"
"titiler.core" = "^0.7.0"

[tool.poetry.dev-dependencies]
pytest = "^7"
jupyter = "^1"
notebook = "^6"
alchemy-mock = "^0"
pytest_bdd = "^5"
coverage = "^6"
pycodestyle = "^2"
autopep8 = "^1"
matplotlib = "^3"
pytest-xdist = "^2"
pytest-mock = "^3"
rope = "^1"
jsonpickle = "^2.0.0"
pytest-watch = "^4.2.0"
pytest-testmon = "^1.2.3"

[build-system]
requires = ["poetry>=1.1.11"]
build-backend = "poetry.masonry.api"
