name: Deploy ECCC Consumer

on:
  workflow_run:
    workflows: ["Deployment"]
    types: [completed]

jobs:
  deploy-dev:
    name: Deploy ECCC Consumer to Dev
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    env:
      PROJ_DEV: e1e498-dev
      PR_NUMBER: ${{ github.event.workflow_run.pull_requests[0].number }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # - name: Set environment variables
      #   id: env-vars
      #   shell: bash
      #   run: |
      #     SUFFIX="pr-${PR_NUMBER}"
      #     echo "PR_NUMBER=${PR_NUMBER}" >> $GITHUB_ENV
      #     echo "SUFFIX=${SUFFIX}" >> $GITHUB_ENV

      - name: Detect relevant file changes
        id: detect
        shell: bash
        env:
          HEAD_SHA: ${{ github.event.workflow_run.head_sha }}
          BASE_SHA: ${{ github.event.workflow_run.pull_requests[0].base.sha}}
          TARGET_PATHS: "^backend/packages/wps-weather/src/wps_weather/"
        run: |
          echo "Base SHA: $BASE_SHA"
          echo "Head SHA: $HEAD_SHA"
          echo "Checking paths: $TARGET_PATHS"

          if git diff --name-only "$BASE_SHA" "$HEAD_SHA" | grep -E "$TARGET_PATHS" >/dev/null; then
            echo "CHANGES=true" >> $GITHUB_ENV
          else
            echo "CHANGES=false" >> $GITHUB_ENV

      - name: Skip deploy if no relevant changes
        if: env.CHANGES == 'false'
        run: |
          echo "No relevant changes detected. Skipping deployment."
          exit 0

      - name: OC Setup
        uses: ./.github/actions/oc-setup
        with:
          pr-number: ${{ env.PR_NUMBER }}

      - name: OC Login
        uses: ./.github/actions/oc-login
        with:
          oc-server: ${{ secrets.OPENSHIFT_CLUSTER }}
          oc-token: ${{ secrets.OC4_DEV_TOKEN }}
          oc-namespace: e1e498-dev

      - name: Provision ECCC Consumer
        shell: bash
        run: |
          bash openshift/scripts/oc_provision_eccc_grib_consumer.sh ${SUFFIX} apply
