name: Deployment

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "mobile/**"

env:
  PROJ_DEV: e1e498-dev

jobs:
  prepare-dev-database:
    name: Prepare Dev Database
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/oc-setup
        with:
          pr-number: ${{ github.event.number }}
      - uses: ./.github/actions/oc-login
        with:
          oc-server: ${{ secrets.OPENSHIFT_CLUSTER }}
          oc-token: ${{ secrets.OC4_DEV_TOKEN }}
          oc-namespace: e1e498-dev

      - name: Deploy CrunchyDB cluster
        shell: bash
        run: |
          EPHEMERAL_STORAGE=True BUCKET=gpdqha DATA_SIZE=5Gi WAL_SIZE=5Gi bash openshift/scripts/oc_provision_crunchy.sh ${SUFFIX} apply

  build-image:
    name: Build ${{ matrix.name }} Image
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - name: Web
            module: web
            docker_file: Dockerfile.web
            path_bc: openshift/templates/build.web.bc.yaml
            sentry: true
          - name: API
            module: api
            docker_file: Dockerfile
            path_bc: openshift/templates/build.bc.yaml
          - name: WPS Jobs
            module: jobs
            docker_file: Dockerfile.jobs
            path_bc: openshift/templates/wps_jobs/wps_jobs_build.yaml
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/oc-setup
        with:
          pr-number: ${{ github.event.number }}
      - uses: ./.github/actions/oc-login
        with:
          oc-server: ${{ secrets.OPENSHIFT_CLUSTER }}
          oc-token: ${{ secrets.OC4_TOOL_TOKEN }}
          oc-namespace: e1e498-tools

      - name: Build wps-${{ matrix.module }} Image
        shell: bash
        env:
          SENTRY_AUTH_TOKEN: ${{ matrix.sentry && secrets.SENTRY_AUTH_TOKEN || '' }}
        run: |
          GIT_BRANCH=${GITHUB_HEAD_REF} \
            MODULE_NAME=${{ matrix.module }} \
            ${{ matrix.docker_file && format('DOCKER_FILE={0}', matrix.docker_file) || '' }} \
            ${{ matrix.path_bc && format('PATH_BC={0}', matrix.path_bc) || '' }} \
            bash openshift/scripts/oc_build.sh ${SUFFIX} apply

  configure-nats-server-name:
    name: Configure nats server name
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/oc-setup
        with:
          pr-number: ${{ github.event.number }}
      - uses: ./.github/actions/oc-login
        with:
          oc-server: ${{ secrets.OPENSHIFT_CLUSTER }}
          oc-token: ${{ secrets.OC4_DEV_TOKEN }}
          oc-namespace: e1e498-dev

      - name: Configure
        shell: bash
        run: bash openshift/scripts/oc_provision_nats_server_config.sh ${SUFFIX} apply

  deploy-dev-queue:
    name: Deploy Message Queue to Dev
    if: github.triggering_actor != 'renovate'
    runs-on: ubuntu-24.04
    needs: [build-image, configure-nats-server-name]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/oc-setup
        with:
          pr-number: ${{ github.event.number }}
      - uses: ./.github/actions/oc-login
        with:
          oc-server: ${{ secrets.OPENSHIFT_CLUSTER }}
          oc-token: ${{ secrets.OC4_DEV_TOKEN }}
          oc-namespace: e1e498-dev

      - name: NATS Message Queue
        shell: bash
        run: |
          MEMORY_REQUEST=250Mi MEMORY_LIMIT=500Mi CPU_REQUEST="250m" bash openshift/scripts/oc_provision_nats.sh ${SUFFIX} apply

  deploy-dev:
    name: Deploy to Dev
    if: github.triggering_actor != 'renovate'
    needs:
      [
        build-image,
        prepare-dev-database,
        deploy-dev-queue,
        configure-nats-server-name,
      ]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/oc-setup
        with:
          pr-number: ${{ github.event.number }}
      - uses: ./.github/actions/oc-login
        with:
          oc-server: ${{ secrets.OPENSHIFT_CLUSTER }}
          oc-token: ${{ secrets.OC4_DEV_TOKEN }}
          oc-namespace: e1e498-dev

      - name: Deploy API to Dev
        shell: bash
        run: |
          MODULE_NAME=api SECOND_LEVEL_DOMAIN="apps.silver.devops.gov.bc.ca" VANITY_DOMAIN="${SUFFIX}-dev-psu.apps.silver.devops.gov.bc.ca" ENVIRONMENT="development" bash openshift/scripts/oc_deploy.sh ${SUFFIX} apply

      - name: Provision dev cronjobs and jobs
        shell: bash
        run: |
          bash openshift/scripts/oc_provision_advisory_fuel_areas_job.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_fuel_raster_processor_job.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_wfwx_hourly_actuals_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_ec_gdps_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_ec_hrdps_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_noaa_gfs_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_noaa_nam_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_ecmwf_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_viirs_snow_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_grass_curing_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_rdps_sfms_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_sfms_calculations_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_fire_watch_weather_cronjob.sh ${SUFFIX} apply
          bash openshift/scripts/oc_provision_hourly_prune_cronjob.sh ${SUFFIX} apply
          SCHEDULE="0 6 1 * *" bash openshift/scripts/oc_provision_partitioner_cronjob.sh ${SUFFIX} apply

  scan-dev:
    name: ZAP Baseline Scan Dev
    needs: [deploy-dev]
    runs-on: ubuntu-24.04
    steps:
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: "https://wps-pr-${{ github.event.number }}-e1e498-dev.apps.silver.devops.gov.bc.ca"
          rules_file_name: ".zap/rules.tsv"
          cmd_options: "-I"

  deploy-c-haines:
    name: Deploy c-haines cronjob
    if: github.triggering_actor != 'renovate'
    runs-on: ubuntu-24.04
    needs: [build-image, prepare-dev-database, deploy-dev]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/oc-setup
        with:
          pr-number: ${{ github.event.number }}
      - uses: ./.github/actions/oc-login
        with:
          oc-server: ${{ secrets.OPENSHIFT_CLUSTER }}
          oc-token: ${{ secrets.OC4_DEV_TOKEN }}
          oc-namespace: e1e498-dev

      - name: C-Haines Cronjob
        shell: bash
        run: bash openshift/scripts/oc_provision_c_haines_cronjob.sh ${SUFFIX} apply
