name: Integration

permissions:
  contents: read # Required for actions/checkout
  actions: read # Allows downloading workflow artifacts
  checks: write # For uploading test results (if needed)
  pull-requests: write # For status reporting (if needed)

on:
  pull_request:
    branches:
      - main
jobs:
  lint-api:
    name: Python - Lint
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/bcgov/wps/wps-api-base:10-30-2025
      options: --user 0
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.17"
      - name: Cache .venv
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: ~/work/wps/wps/backend/.venv
          key: ${{ runner.os }}-venv-uv-0.9.11-${{ hashFiles('**/uv.lock') }}
      - name: Install python dependencies using uv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        working-directory: ./backend
        run: |
          uv sync --all-extras
          uv pip install setuptools
          uv pip install --no-build-isolation gdal==$(gdal-config --version)
      - name: Lint (api/wps_shared/wps_jobs)
        working-directory: ./backend
        run: |
          uv run ruff check packages/wps-api/src packages/wps-shared/src packages/wps-jobs/src

  test-api:
    name: Python - API Test with coverage
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/bcgov/wps/wps-api-base:10-30-2025
      options: --user 0
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          # For sonar-scanner to work properly we can't use a shallow fetch.
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.17"
      - name: Cache .venv
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: ~/work/wps/wps/backend/.venv
          key: ${{ runner.os }}-venv-uv-0.9.11-${{ hashFiles('**/uv.lock') }}
      - name: Install python dependencies using uv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        working-directory: ./backend
        run: |
          # Install JDK
          apt-get update --fix-missing
          apt-get -y install default-jdk
          uv sync --all-extras
          uv pip install setuptools
          uv pip install --no-build-isolation gdal==$(gdal-config --version)
      - name: Unit Test with coverage (api)
        working-directory: ./backend
        run: |
          export LD_LIBRARY_PATH=$(uv run python -m rpy2.situation LD_LIBRARY_PATH):${LD_LIBRARY_PATH}
          export CLASSPATH=./packages/wps-api/libs/REDapp_Lib.jar:./packages/wps-api/libs/WTime.jar:./packages/wps-api/libs/hss-java.jar:$CLASSPATH
          export ORIGINS=testorigin
          export SFMS_SECRET=secret
          uv run pytest -n auto --cov=packages/wps-api/src/app --cov-branch --cov-report=xml:packages/wps-api/coverage-reports/api-coverage-report.xml packages/wps-api/src/app/tests -x -o log_cli=true --disable-warnings -vvv
      - name: Archive coverage report (api)
        uses: actions/upload-artifact@v5
        with:
          name: api-coverage-report
          path: ./backend/packages/wps-api/coverage-reports/api-coverage-report.xml
  test-wps-shared:
    name: Python - WPS Shared Test with coverage
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/bcgov/wps/wps-api-base:10-30-2025
      options: --user 0
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          # For sonar-scanner to work properly we can't use a shallow fetch.
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.17"
      - name: Cache .venv
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: ~/work/wps/wps/backend/.venv
          key: ${{ runner.os }}-venv-uv-0.9.11-${{ hashFiles('**/uv.lock') }}
      - name: Install python dependencies using uv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        working-directory: ./backend
        run: |
          # Install JDK
          apt-get update --fix-missing
          apt-get -y install default-jdk
          uv sync --all-extras
          uv pip install setuptools
          uv pip install --no-build-isolation gdal==$(gdal-config --version)
      - name: Unit Test with coverage (wps_shared)
        working-directory: ./backend
        run: |
          export ORIGINS=testorigin
          export SFMS_SECRET=secret
          uv run pytest --cov=packages/wps-shared/src/wps_shared --cov-branch --cov-report=xml:packages/wps-shared/coverage-reports/wps-shared-coverage-report.xml packages/wps-shared/src/wps_shared/tests -x -o log_cli=true --disable-warnings -vvv
      - name: Archive coverage report (wps_shared)
        uses: actions/upload-artifact@v5
        with:
          name: wps-shared-coverage-report
          path: ./backend/packages/wps-shared/coverage-reports/wps-shared-coverage-report.xml
  test-wps-jobs:
    name: Python - WPS Jobs Test with coverage
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/bcgov/wps/wps-api-base:10-30-2025
      options: --user 0
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          # For sonar-scanner to work properly we can't use a shallow fetch.
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.17"
      - name: Cache .venv
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: ~/work/wps/wps/backend/.venv
          key: ${{ runner.os }}-venv-uv-0.9.11-${{ hashFiles('**/uv.lock') }}
      - name: Install python dependencies using uv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        working-directory: ./backend
        run: |
          # Install JDK
          apt-get update --fix-missing
          apt-get -y install default-jdk
          uv sync --all-extras
          uv pip install setuptools
          uv pip install --no-build-isolation gdal==$(gdal-config --version)
      - name: Unit Test with coverage (wps_jobs)
        working-directory: ./backend
        run: |
          export LD_LIBRARY_PATH=$(uv run python -m rpy2.situation LD_LIBRARY_PATH):${LD_LIBRARY_PATH}
          export ORIGINS=testorigin
          export SFMS_SECRET=secret
          uv run pytest --cov=packages/wps-jobs/src --cov-branch --cov-report=xml:packages/wps-jobs/coverage-reports/wps-jobs-coverage-report.xml packages/wps-jobs/src/tests -x -o log_cli=true --disable-warnings -vvv
      - name: Archive coverage report (wps_jobs)
        uses: actions/upload-artifact@v5
        with:
          name: wps-jobs-coverage-report
          path: ./backend/packages/wps-jobs/coverage-reports/wps-jobs-coverage-report.xml
  lint-and-test-web:
    name: Web - Lint, Test with coverage
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          # For sonar-scanner to work properly we can't use a shallow fetch.
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
            ~/.cache/Cypress
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: enable corepack
        run: corepack enable
      - name: use new yarn
        run: yarn set version berry
      - name: Install node dependencies (web)
        working-directory: ./web
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install
      - name: Lint (web)
        working-directory: ./web
        run: yarn run lint
      - name: Cypress tests with coverage (web)
        working-directory: ./web
        run: yarn run cypress:ci
      - name: Unit tests (web)
        working-directory: ./web
        run: yarn run coverage:ci
      - name: Merge and finalize test coverage (web)
        working-directory: ./web
        run: yarn run finalizeCoverage
      - name: Archive coverage report
        uses: actions/upload-artifact@v5
        with:
          name: web-coverage-report
          path: ./web/finalCoverage
  upload-code-coverage:
    name: Coverage with CodeCov
    runs-on: ubuntu-24.04
    needs: [lint-and-test-web, test-api, test-wps-shared, test-wps-jobs]
    steps:
      # we need to checkout, so that we have codecov.yml
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v6
      - name: Upload test coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          # we want to ensure code coverage is good, so we fail on error. (default is false)
          fail_ci_if_error: true
  lint-and-test-prune:
    name: Backup Prune - Lint and Test
    # We have to use an older ubuntu version, because of the older version of python that the
    # backup script uses.
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: [3.12.3]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          # For sonar-scanner to work properly we can't use a shallow fetch.
          fetch-depth: 0
      - name: Setup Python ${{ matrix.python-version }} (api)
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache poetry installer
        uses: actions/cache@v4
        id: cache-poetry-installer
        env:
          cache-name: cache-poetry-installer
        with:
          path: "~/poetry_installer"
          key: "poetry-installer-1.8.3"
      - name: Download poetry installer
        if: steps.cache-poetry-installer.outputs.cache-hit != 'true'
        run: |
          echo
          mkdir ~/poetry_installer
          curl -sSL https://install.python-poetry.org > ~/poetry_installer/install-poetry.py
      - name: Install poetry (api)
        run: |
          cd ~/poetry_installer
          python install-poetry.py --version 1.8.3
          poetry config virtualenvs.create true
          poetry config virtualenvs.in-project false
      # poetry cache folder: /home/runner/.cache/pypoetry
      - name: Cache poetry
        uses: actions/cache@v4
        env:
          cache-name: cache-poetry
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-prune-cache-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-prune-cache-
      - name: Install python dependencies using poetry (s3-backup)
        working-directory: ./openshift/s3-backup/docker
        run: |
          poetry install
      - name: Lint (s3-backup)
        working-directory: ./openshift/s3-backup/docker
        run: poetry run ruff check *.py
      - name: Unit tests (s3-backup)
        working-directory: ./openshift/s3-backup/docker
        run: |
          poetry run pytest -v
