name: Integration

on:
  pull_request:
    branches:
      - main

jobs:
  lint-and-test:
    name: Lint, Test with Coverage & SonarQube
    # Ubuntu 18.04 (a.k.a. ubuntu-latest) comes with gdal 2.2.3, which has bugs that cause unit tests to fail
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.8]
        node-version: [10.x]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          # For sonar-scanner to work properly we can't use a shallow fetch.
          fetch-depth: 0

      - name: Setup Python ${{ matrix.python-version }} (api)
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache poetry installer
        uses: actions/cache@v2
        id: cache-poetry-installer
        env:
          cache-name: cache-poetry-installer
        with:
          path: "~/poetry_installer"
          key: "1.0.8"

      - name: Download poetry installer
        if: steps.cache-poetry-installer.outputs.cache-hit != 'true'
        run: |
          echo 
          mkdir ~/poetry_installer
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py > ~/poetry_installer/get-poetry.py

      - name: Install poetry (api)
        # Set virtualenvs.create true, otherwise there's nothing to cache!
        run: |
          cd ~/poetry_installer
          POETRY_HOME=/opt/poetry python get-poetry.py --version 1.0.8
          cd /usr/local/bin
          /opt/poetry/bin/poetry config virtualenvs.create true
          /opt/poetry/bin/poetry config virtualenvs.in-project false

      - name: Install libgdal-dev (api)
        # The python gdal component relies on libgdal-dev being installed.
        run: |
          sudo apt-get -y install libgdal-dev

      - name: Install gdal python (api)
        # We don't have much control over what version of gdal we're getting, it's pretty much whatever is
        # available to us. As such, gdal is not installed by poetry, since the versio will differ between
        # platforms.
        run: CPLUS_INCLUDE_PATH=/usr/include/gdal C_INCLUDE_PATH=/usr/include/gdal python3 -m pip install gdal==$(gdal-config --version)

      # - name: Cache pip
      #   uses: actions/cache@v2
      #   with:
      #     path: ~/.cache/pip
      #     key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}
      #     restore-keys: |
      #       ${{ runner.os }}-pip-

      # poetry cache folder: /home/runner/.cache/pypoetry
      - name: Cache poetry
        uses: actions/cache@v2
        env:
          cache-name: cache-poetry
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install python dependencies (api)
        run: |
          /opt/poetry/bin/poetry config --list
          cp api/pyproject.toml api/poetry.lock /tmp/
          cd /tmp
          /opt/poetry/bin/poetry install --no-root

      - name: Lint (api)
        run: python3 -m pylint --rcfile=api/.pylintrc api/app/*.py api/app/**/*.py

      - name: Unit Test with coverage (api)
        run: |
          ORIGINS=testorigin coverage run --source=api/app -m pytest -o log_cli=true --disable-warnings --verbose

      - name: Create coverage report (api)
        shell: bash
        run: |
          coverage report
          coverage xml -o coverage-reports/coverage-report.xml

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install node dependencies (web)
        working-directory: ./web
        run: npm ci

      - name: Lint (web)
        working-directory: ./web
        run: npm run lint

      # "Error: ENOSPC: System limit for number of file watchers reached" can be addressed
      # with this: https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers#the-technical-details
      # It seems unnecessary at the moment because tests pass anyway
      - name: Cypress tests (web)
        working-directory: ./web
        run: npm run cypress:ci

      - name: Tests with coverage (web)
        working-directory: ./web
        run: npm run test:ci

      - name: Fix code coverage paths (web)
        # Due to the way sonarscanner mounts thing when running in docker, we need to change the coverage file.
        working-directory: ./web/coverage
        run: sed -i 's/\/home\/runner\/work\/wps\/wps\/web\//\/github\/workspace\//g' lcov.info

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
