name: Pull request description

on:
  pull_request:
    branches:
      - main
      - roles

jobs:
  set-description:
    name: Set pull request description
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - name: Set description
        uses: actions/github-script@v6
        with:
          # reference used to figure out this part:
          # https://docs.github.com/en/rest/reference/pulls#list-pull-requests
          # https://octokit.github.io/rest.js/v18#pulls
          # https://github.com/actions/github-script
          script: |
            const script = require('./.github/workflows/pr_description.js')
            await script({github, context})
