name: Renovate

permissions:
  contents: read
  pull-requests: write

on:
  schedule:
    # Scheduled workflows run on the latest commit on the default or base branch.
    - cron: "0 2 * * *"
jobs:
  renovate:
    runs-on: ubuntu-24.04
    env:
      LOG_LEVEL: debug
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.0.1
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
