{
    "semi": false,
    "singleQuote": true,
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.spec.ts",
            "options": {
                "printWidth": 120
            }
        }
    ],
    "trailingComma": "none",
    "arrowParens": "avoid"
}